html {
  font-family: "Sawarabi Gothic";
}

html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #eee;
  padding: 30px 0;
  text-align: center;
}

.header__title {
  margin: 0;
}

.main {
  max-width: 950px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.blockquote::before {
  font-family: 'FontAwesome';
  content: "\f10d";
}

.blockquote__source {
  display: block;
  text-align: right;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .main {
    width: unset;
    padding-right: 5%;
    padding-left: 5%;
  }
}